@using SecurityMine.Models
@model List<AddMedicineValidation>

@{
    ViewBag.Title = "FilterPerform";
}

@if (ViewBag.NoMedicineFound == "Yes")
{
    <script>
        alert("No Medicine Found For Applied Filter...")
        document.location.replace('http://localhost:61345/SortAndFilter/FilterMedicine');
    </script>
}
else
{
    <center>
        <h2><strong>Filter</strong></h2>
        <a href="http://localhost:61345/SortAndFilter/FilterMedicine" class="btn btn-info">Back</a>
        <br />
    </center>


    <table class="table table-striped">
        <tr>
            <td><strong>Medicine Name</strong></td>
            <td><strong>Medicine Type</strong></td>
            <td><strong>Expiry</strong></td>
            <td><strong>Price</strong></td>
            <td><strong>Stock</strong></td>
        </tr>
        @foreach (AddMedicineValidation data in Model)
        {
            <tr>
                <td>@data.MedicineName</td>
                <td>@data.MedicineType</td>
                <td>@data.Expiry</td>
                <td>@data.Price</td>
                <td>@data.Stock</td>

                <td>
                    @Html.ActionLink("Delete", "DeleteMedicine", "Custom", new { MedicineName = data.MedicineName }, new { @class = "btn btn-danger" })
                </td>
                <td>
                    @Html.ActionLink("Update Price & Stock", "UpdateStockAndPrice", "Custom", new { MedicineName = data.MedicineName }, new { @class = "btn btn-info" })
                </td>
            </tr>
        }
    </table>
}

