@using SecurityMine.Models
@model FeedBackValidation

@{ ViewBag.Title = "Contact"; }


<center>
<h2><strong>FeedBack Form</strong></h2>
    <br />
@using (Html.BeginForm("WriteFeedBack", "FileManage", FormMethod.Post,new { @class="form-horizontal"}))
{
    @Html.LabelFor(f => f.Name, new { @class = "control-label" })
    <br />
    @Html.TextBoxFor(f => f.Name, new { @class = "form-control" })
    @Html.ValidationMessageFor(f => f.Name, "", new { @class = "text-danger" })
    <br />

    @Html.LabelFor(f => f.Email, new { @class = "control-label" })
    <br />
    @Html.TextBoxFor(f => f.Email, new { @class = "form-control" })
    @Html.ValidationMessageFor(f => f.Email, "", new { @class = "text-danger" })
    <br />

     @Html.LabelFor(f=>f.FeedBack, new { @class = "control-label" })
    <br />
    @Html.TextAreaFor(f=>f.FeedBack, new { @class = "form-control" })
    @Html.ValidationMessageFor(f => f.FeedBack, "", new {@class="text-danger"})
    <br />
    <input type="submit" value="Submit FeedBack" class="btn btn-info" />
}
    </center>



@section scripts
{

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}