@using SecurityMine.Models
@model AddMedicineValidation

@{
    ViewBag.Title = "AddMedicine";
}

<center>
    <h2><strong>Register Medicine</strong></h2>

    @using (Html.BeginForm("StoreMedicine", "Custom", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        @Html.LabelFor(m => m.MedicineName, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(m => m.MedicineName, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MedicineName, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(m => m.MedicineType, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(m => m.MedicineType, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.MedicineType, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(m => m.Expiry, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(m => m.Expiry, new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(m => m.Expiry, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(m => m.Price, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(m => m.Price, new { @class = "form-control", type = "number",step="any"})
        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(m => m.Stock, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(m => m.Stock, new { @class = "form-control", type = "number" })
        @Html.ValidationMessageFor(m => m.Stock, "", new { @class = "text-danger" })
        <br />
        <input type="submit" value="Add" class="btn btn-info" />
    }
</center>

