@using SecurityMine.Models
@model List<AddMedicineValidation>

@{
    ViewBag.Title = "DisplayMedicineList";
}

<h2>DisplayMedicineList</h2>

<table class="table table-striped">
    <tr>
        <td><strong>Medicine Name</strong></td>
        <td><strong>Medicine Type</strong></td>
        <td><strong>Expiry</strong></td>
        <td><strong>Price</strong></td>
        <td><strong>Stock</strong></td>
    </tr>
    @foreach (AddMedicineValidation data in Model)
    {
    <tr>
        <td>@data.MedicineName</td>
        <td>@data.MedicineType</td>
        <td>@data.Expiry</td>
        <td>@data.Price</td>
        <td>@data.Stock</td>
    </tr>
    }
</table>