
@{
    ViewBag.Title = "DisplayContactDetail";
}


<center>
    <h2><strong>Contact Detail</strong></h2>
    <p>
        <strong>
            UserName: @ViewBag.Name
            <br />
            Address Line: @ViewBag.AddressLine
            <br />
            District: @ViewBag.Dist
            <br />
            City: @ViewBag.City
            <br />
            Pin Code: @ViewBag.Pin
            <br />
            State: @ViewBag.State
            <br />
            Country: @ViewBag.Country
        </strong>
    </p>
</center>



