@using SecurityMine.Models
@model StoreAddressValidation

@{
    ViewBag.Title = "StoreAddressFromAdmin";
}

<center>
    <h2><strong>View/Update Address for @ViewBag.UserName</strong></h2>

    @using (Html.BeginForm("AddAddressFromAdmin", "Custom", FormMethod.Post, new { @class = "form-horizontal" }))
    {
        <label class="control-label">UserName</label>
        <br />
        <input type="text" value="@ViewBag.UserName" readonly="readonly" name="UserName" class="form-control"/>
        <br />
        @Html.LabelFor(a => a.AddressLine, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(a => a.AddressLine, new { @class = "form-control", @Value = ViewBag.AddressLine })
        @Html.ValidationMessageFor(a => a.AddressLine, "", new { @class = "text-danger" })
        <br />


        @Html.LabelFor(a => a.District, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(a => a.District, new { @class = "form-control", @Value = ViewBag.Dist })
        @Html.ValidationMessageFor(a => a.District, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(a => a.City, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(a => a.City, new { @class = "form-control", @Value = ViewBag.City })
        @Html.ValidationMessageFor(a => a.City, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(a => a.PinCode, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(a => a.PinCode, new { @class = "form-control", @Value = ViewBag.Pin })
        @Html.ValidationMessageFor(a => a.PinCode, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(a => a.State, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(a => a.State, new { @class = "form-control", @Value = ViewBag.State })
        @Html.ValidationMessageFor(a => a.State, "", new { @class = "text-danger" })
        <br />

        @Html.LabelFor(a => a.Country, new { @class = "control-label" })
        <br />
        @Html.TextBoxFor(a => a.Country, new { @class = "form-control", @Value = ViewBag.Country })
        @Html.ValidationMessageFor(a => a.Country, "", new { @class = "text-danger" })
        <br />

        <input type="submit" value="Update Info" class="btn btn-info" />

    }
</center>

